<div class="form-group">
    <label for="tipo_maceta" class="h4" style="font-size: 3.5rem;">Tipo de Maceta</label>
    <select class="form-control"
            id="tipo_maceta"
            name="tipo_maceta"
            data-producto="macetas"
            style="font-size: 2.5rem; height: 80px;">
        <option value="">Selecciona el tipo de maceta</option>
        <option value="macetas">Macetita</option>
        <option value="macetas_con_yute">Macetita con yute</option>
        <option value="macetas_con_caja">Macetita con caja</option>
        <option value="macetas_con_sticker">Macetita con sticker</option>
    </select>
</div>
