<!-- Selección de tipo de maceta de arcilla -->
  <div class="form-group">
      <label for="tipo_maceta" class="h4" style="font-size: 3.75rem;">Tipo de Maceta de Arcilla</label>
      <select class="form-control form-control-lg" id="tipo_maceta" name="tipo_maceta" onchange="calcularPrecio()">
          <option value="">Selecciona el tipo de maceta</option>
          <option value="Cilíndrica">Cilíndrica</option>  <!-- Tipo de maceta cilíndrica -->
          <option value="Corazón">Maceta de Corazón</option>  <!-- Tipo de maceta de corazón -->
      </select>
  </div>
