<div class="form-group">
    <label for="tipo_maceta" class="h4" style="font-size: 3.5rem;">Tipo de Maceta de Arcilla</label>
    <select class="form-control"
            id="tipo_maceta"
            name="tipo_maceta"
            data-producto="macetas_de_arcilla"
            style="font-size: 2.5rem; height: 80px;">
        <option value="">Selecciona el tipo de maceta</option>
        <option value="maceta_arcilla">Maceta de Arcilla</option>
        <option value="maceta_arcilla_con_yute">Maceta de Arcilla con Yute</option>
        <option value="maceta_arcilla_con_caja">Maceta de Arcilla con Caja</option>
        <option value="maceta_arcilla_corazon">Maceta de Corazón</option>
        <option value="maceta_arcilla_corazon_con_caja">Maceta de Arcilla de Corazón con Caja</option>
    </select>
</div>

