<div class="form-group">
    <label for="tipo_maceta" class="h4">Tipo de Maceta</label>
    <select class="form-control form-control-lg" id="tipo_maceta" name="tipo_maceta">
        <option value="">Selecciona el tipo de maceta</option>
        <option value="Maceta">Maceta</option>
        <option value="Maceta con yute">Maceta con yute</option>
        <option value="Maceta con caja">Maceta con caja</option>
        <option value="Maceta con sticker">Maceta con sticker</option>
        <option value="Maceta con girasol">Maceta con girasol</option>
    </select>
</div>