{% extends 'base.html' %}

{% block title %}Cotizar Velas Tubo - Decogarideas{% endblock %}

{% block content %}
  <!-- Selección de tipo de vela tubo -->
  <div class="form-group">
      <label for="tipo_velas_tubo" class="h4" style="font-size: 3.75rem;">Tipo de Vela Tubo</label>
      <select class="form-control form-control-lg" id="tipo_velas_tubo" name="tipo_velas_tubo" onchange="calcularPrecio()">
          <option value="">Selecciona el tipo de vela tubo</option>
          <option value="Velas tubo con yute">Velas tubo con yute</option>
          <option value="Velas con caja impresa">Velas con caja impresa</option>
          <option value="Velas con caja">Velas con caja</option>
      </select>
  </div>
{% endblock %}
