<!-- producto-seleccionado.html -->
<div id="producto-seleccionado">
    <!-- Este espacio se llenará dinámicamente según el producto seleccionado -->
</div>

<script>
    function mostrarOpciones() {
        var productoSeleccionado = document.getElementById('producto').value;
        var productoSeleccionadoDiv = document.getElementById('producto-seleccionado');

        if (productoSeleccionado == 'Maceta') {
            // Cargar el contenido de 'macetas.html'
            productoSeleccionadoDiv.innerHTML = '{% include "macetas.html" %}';
        } else if (productoSeleccionado == 'Maceta de loza') {
            // Cargar el contenido de 'maceta_loza.html'
            productoSeleccionadoDiv.innerHTML = '{% include "maceta_loza.html" %}';
        } else if (productoSeleccionado == 'Maceta de arcilla') {
            // Cargar el contenido de 'maceta_arcilla.html'
            productoSeleccionadoDiv.innerHTML = '{% include "maceta_arcilla.html" %}';
        } else if (productoSeleccionado == 'Vela') {
            // Cargar el contenido de 'velas.html'
            productoSeleccionadoDiv.innerHTML = '{% include "velas.html" %}';
        } else if (productoSeleccionado == 'Vela tubo') {
            // Cargar el contenido de 'vela_tubo.html'
            productoSeleccionadoDiv.innerHTML = '{% include "vela_tubo.html" %}';
        }
    }
</script>
